<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Din bedste TouristGuide</title>
    <link th:href="@{/main.css}" rel="stylesheet">
    <link th:href="@{/buttons.css}" rel="stylesheet">

</head>
<body>
<h1 class="header1">Liste over turistattraktioner</h1>
<table class="table">
  <tr>
    <th class="th">Navn</th>
    <th class="th">Beskrivelse</th>
  </tr>
  <tr th:each="attraction : ${attractions}">
    <td class="td" th:text="${attraction.name}"></td>
    <td class="td" th:text="${attraction.description}"></td>
    <td>
      <a class="links-button" th:href="@{'/attractions/' + ${attraction.name} + '/tags'}">Tags</a>
      <a class="links-button" th:href="@{'/attractions/' + ${attraction.name} + '/edit'}">Rediger</a>
      <a class="links-button" th:href="@{'/attractions/' + ${attraction.name} + '/delete'}">Slet</a>
    </td>
  </tr>
</table>
<a class="addbutton" href="/add">Tilføj ny attraktion</a>

</body>
</html>